/*core*/
*{margin:0; padding:0; box-sizing:border-box; font-size:100%;}
body{overflow-x:hidden; word-wrap:break-word; font-family:verdana,san-serif; color:#111; font-size:1.25em;}
header,nav,main,footer{display:block;}
.wrap{margin:0 auto; max-width:30em; padding:0 1em;}

/*general type*/
::selection{background:rgba(0,128,255,.85); color:#fff;}
a{color:inherit; text-decoration-color:#c0c0c0;} a:hover,a:active,a:focus{color:#0080ff; text-decoration:none;}
img{max-width:100%; height:auto;}
p,ul{margin:.75em 0; line-height:1.45em;} li>ul{margin:0 0 0 1em;}
h1{font-size:2.25em;}
h2{font-size:1.5em; margin-top:1em;} h1+h2{margin-top:.5em;} h2+p,h2+ul{margin-top:.5em;}

/*layout*/
#skip{position:absolute; left:-999px; width:1px; height:1px; top:auto; overflow:hidden;}
#skip:focus,#skip:active{width:auto; height:auto; overflow:visible; left:auto;}

header{color:#484848; background:url(../bg-light.png);}
header .content{padding:1em 0 .25em;}
header a{text-decoration:none;}
#home{font-weight:bold; padding:.5em; margin-left:-.5em;}
header ul{font-size:.85em; margin:.25em 0 .5em -.5em;}
header li{display:inline-block; padding:.5em;}
header li::before{content:"•"; padding-right:1em;} header a:first-of-type li::before{content:none;}
@media screen and (min-width:40em){
	header{padding-bottom:.5em;}
	header nav{display:inline-block;}
	header a:first-of-type li::before{content:"•"; padding-right:1em;}
}

main .content{padding:1em 0;}
#date{color:#808080; margin-top:.5em; padding-bottom:1em;}

footer{color:#808080;}
footer .content{padding:9em 0 0; font-size:.85em;}
footer ul{list-style-type:none;}
#up{display:inline-block; padding:.5em; margin-left:-.5em; margin-top:.5em;}
@media screen and (min-width:27em){
	footer li{display:inline-block;}
	footer li:last-of-type{padding-left:.75em;} footer li:last-of-type::before{content:"•"; padding-right:1em;}
}

@media (prefers-color-scheme:dark){
	body{background:#111; color:#fff;}
	a{text-decoration-color:inherit;}
	header,#date{color:#c0c0c0;}
}