<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}} | a-flyleaf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{site.baseurl}}/style.css" type="text/css" rel="stylesheet"/>
  	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700|Alegreya+Sans:400,400i,700,800" rel="stylesheet">
  </head>
  
  <body>
    <header><div class="wrap">
      <div id="logo"><a href="/">a-flyleaf</a></div>
			<nav><ul><a href="/sitemap"><li id="sitemap">links</li></a><span id="fullnav">{%include nav.html%}</span></ul></nav>
    </div></header>
    
    <main><div id="content">{{content}}</div></main>
    
    <footer><div class="wrap">
      <span>© <a href="/">a-flyleaf</a> 2019</span>
      <span class="footerlinks"><a href="/privacy-policy">privacy</a><a href="/colophon">colophon</a><a href="/sitemap">sitemap</a></span>
    </div></footer>
	</body>
</html>