<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}} | a-flyleaf</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{site.baseurl}}/assets/style.css" type="text/css" rel="stylesheet"/><link href="{{site.url}}/assets/fonts-alegreya.css" type="text/css" rel="stylesheet"/>
  </head>
  
  <body>
    <header><div class="wrap">
      <div id="logo"><a href="/">a-flyleaf</a></div>
			<nav><ul><a href="/sitemap"><li id="sitemap">links</li></a><span id="fullnav"><a href="/about"><li>About</li></a><a href="/Projects"><li>Projects</li></a><a href="/shriblets"><li>Shriblets</li></a><a href="/blog"><li>Blog</li></a></span></ul></nav>
    </div></header>
    
    <main><div id="content">{{content}}</div></main>
    
    <footer><div class="wrap">
      <span>© 2019–2021</span>
      <ul id="footerlinks"><a href="/privacy-policy"><li>privacy</li></a><a href="/colophon"><li>colophon</li></a><a href="/sitemap"><li>sitemap</li></a></ul>
    </div></footer>
	</body>
</html>